* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #checkbox {
    margin-top: 200px;
    min-width: 300px;
    background-color: rgb(246, 242, 245);
  }

  .wrapper {
    padding: 5px;
    font-size: 20px;
  }

  .wrapper label {
    padding-left: 10px;
  }

  .wrapper input, .wrapper label:hover {
    cursor: pointer;
    opacity: 0.7;
  }